{% extends view_root_dir + "views/admin/base.html" %}
{% block head %} 
<!-- <link type="text/css" rel="stylesheet" href="/style.css"  media="screen,projection"/> -->
{% endblock %}
{% block style %} 
{% endblock %}
{% block body %}
<!-- Navigation -->
<nav>
    <div class="nav-container">
        <div class="nav-logo">
            <span>FPM-Admin@{{version}}</span>
        </div>
    </div>
  </nav>
  <main>
    <div class="container">
      <div class="row row-reverse">
        <div class="col col-lg-9">
          <section>
            <p class="h5">{% block pagetitle %}{% endblock %}</p>
            {% block main %}{% endblock %}
          </section>
        </div>
        <div class="col col-lg-3">
          <div class="sidebar sidebar-left">
            <h3 class="sidebar-category">工作台</h3>
            <ul class="sidebar-links">
              <li><a {{ 'class=active' if ("/admin/main" == currentlink) }} href="/admin/main">仪表板</a></li>
              <li><a {{ 'class=active' if ("/admin/config" == currentlink) }} href="/admin/config">配置信息</a></li>
              <li><a {{ 'class=active' if ("/admin/test" == currentlink) }} href="/admin/test">接口测试</a></li>
            </ul>
            <h3 class="sidebar-category">插件</h3>
            <ul class="sidebar-links">
              <li><a {{ 'class=active' if ("/admin/plugin" == currentlink) }} href="/admin/plugin">插件列表</a></li>
            </ul>
            <h3 class="sidebar-category">系统菜单</h3>
            <ul class="sidebar-links">
              <li><a {{ 'class=active' if ("/admin/about" == currentlink) }} href="/admin/about">关于</a></li>
              <li><a href="/admin/logout">注销</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block js %}
<script>
  // $(".button-collapse").sideNav();
</script>
{% endblock %}