{% extends view_root_dir + "views/admin/base-content.html" %}
{% block pagetitle %} 仪表板 {% endblock %}
{% block main %}
<div>
  <p class="alert alert-success">运行时间: {{ status.startTime }} <span class="float-right">已处理请求: {{ status.counter }}</span></p>
  <div class="clear-fix"></div>
  <p class="alert alert-info">PLATFORM: {{ status.platform }} | CPU: {{ status.cpus }} | MEM: {{ status.freemem }} /{{status.totalmem }} G</p>
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}

