{% extends view_root_dir + "views/admin/base-content.html" %}
{% block pagetitle %} 插件列表 {% endblock %}
{% block main %}
<div>
  <table>
    <thead>
      <tr>
        <th>插件名</th>
        <th>版本</th>
        <th class="align-right">描述</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for _, plugin in plugins %}
      <tr>
        <td>
          <p><strong><a href="{{ plugin.npm }}" target="_blank">{{ plugin.name }}</a></strong></p>
        </td>
        <td>
          <p>{{ plugin.version }}</p>
        </td>
        <td>
          <p class="align-right">{{ plugin.info.description if plugin.info.description else '暂无描述' }}</p>
        </td>
        <td class="align-right">
          <button class="button-warning-outlined button-small check-update" version="{{ plugin.version }}" pname="{{ plugin.name }}">检查更新</button>
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}
<script>
  $('.check-update').on('click', function(){
    var THIS = $(this)
    var pname = THIS.attr('pname');
    var version = THIS.attr('version');
    THIS.html('正在检查...');
    $.post('/admin/registry', { name: pname})
      .then(function(data){
        var latest = data.data['latest'];
        if(latest == version){
          THIS.removeClass('button-warning-outlined').addClass('button-primary-outlined');
          THIS.html('当前最新版');
        }else{
          THIS.removeClass('button-warning-outlined').addClass('button-danger-outlined');
          THIS.html('有新版:' + latest);
        }        
      })
      .catch(function(err){
        console.error(err)
      })
  })
</script>
{% endblock %}
